body{
    background-color: rgb(101, 96, 96);
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    max-width: 650px;
    margin: 0 auto;
    background-color: rgb(42, 48, 67);
    padding: 20px;
    border-radius: 10px;
}
h1{
    font-size: 2em;
    margin-bottom: 1em;
}
h2{
    font-size: 1.5em;
    margin-bottom: 1em;
}
#countdown{
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
#countdown div{
    text-align: center;
    padding: 30px;
    background-color: rgb(127, 148, 148);
    border-radius: 5px;
    color: rgb(251, 251, 255);
    display: flex;
    flex-direction: column;
}
span{
    font-size: xx-large;

}
.progress-container{
    background-color: azure;
    height: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    overflow: hidden;
}
#progress-bar{
    background: yellow;
    width: 0%;
    height: 100%;
    transition: width 1s ease-in-out;
    border-radius: 5px;
}